{% extends "layouts/base.html" %}

{% block title %} Apex Charts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Radial Chart</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Chart</a></li>
                                <li class="breadcrumb-item"><a href="#">Radial Chart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ variant-chart ] start -->
<!--                <div class="col-md-6">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">-->
<!--                            <h5>Basic line chart</h5>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div id="line-chart-1"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Product Performance</h5>
                        </div>
                        <div class="card-body">
                            <div id="total-product-qty"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Product Performance</h5>
                        </div>
                        <div class="card-body">
                            <div id="total-product-revenue"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Customers Loyalty</h5>
                        </div>
                        <div class="card-body">
                            <div id="customer-loyalty"></div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">-->
<!--                            <h5>Pie Charts</h5>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div id="pie-chart-1" style="width:100%"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pie Chart donut</h5>
                        </div>
                        <div class="card-body">
                            <div id="pie-chart-2" style="width:100%"></div>
                        </div>
                    </div>
                </div>
                <!-- [ variant-chart ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!--    <script src="/static/assets/js/pages/chart-apex.js"></script>-->


<script>
    const dict = {{data | safe}}

    // Total Quantity Sold by Product
    var options = {
          series: [{
          data: dict.total_qty
        }],
          chart: {
          type: 'bar',
          height: 380
        },
        plotOptions: {
          bar: {
            barHeight: '100%',
            distributed: true,
            horizontal: true,
            dataLabels: {
              position: 'bottom'
            },
          }
        },
        colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
          '#f48024', '#69d2e7', '#A569BD'
        ],
        dataLabels: {
          enabled: true,
          textAnchor: 'start',
          style: {
            colors: ['#fff']
          },
          formatter: function (val, opt) {
            return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
          },
          offsetX: 0,
          dropShadow: {
            enabled: true
          }
        },
        stroke: {
          width: 1,
          colors: ['#fff']
        },
        xaxis: {
          categories: dict.product_name
        },
        yaxis: {
          labels: {
            show: false
          }
        },
        title: {
            text: 'Total Quantity Sold Of Each Product',
            align: 'center',
            floating: true
        },
        subtitle: {
<!--            text: 'Category Names as DataLabels inside bars',-->
            align: 'center',
        },
        tooltip: {
          theme: 'dark',
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function () {
                return ''
              }
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#total-product-qty"), options);
        chart.render();

    // Total Revenue Generated by Product
    var options = {
          series: [{
          data: dict.total_revenue
        }],
          chart: {
          type: 'bar',
          height: 380
        },
        plotOptions: {
          bar: {
            barHeight: '100%',
            distributed: true,
            horizontal: true,
            dataLabels: {
              position: 'bottom'
            },
          }
        },
        colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
          '#f48024', '#69d2e7', '#A569BD'
        ],
        dataLabels: {
          enabled: true,
          textAnchor: 'start',
          style: {
            colors: ['#fff']
          },
          formatter: function (val, opt) {
            return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
          },
          offsetX: 0,
          dropShadow: {
            enabled: true
          }
        },
        stroke: {
          width: 1,
          colors: ['#fff']
        },
        xaxis: {
          categories: dict.product_name
        },
        yaxis: {
          labels: {
            show: false
          }
        },
        title: {
            text: 'Total Revenue Generated By Each Product (in-₹)',
            align: 'center',
            floating: true
        },
        subtitle: {
<!--            text: 'Category Names as DataLabels inside bars',-->
            align: 'center',
        },
        tooltip: {
          theme: 'dark',
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function () {
                return ''
              }
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#total-product-revenue"), options);
        chart.render();

    // customer loyalty
     var options = {
          series: [{
          name: 'XYZ MOTORS',
          data: dict.date
        }],
          chart: {
          type: 'area',
          stacked: false,
          height: 350,
          zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
        },
        title: {
          text: 'Stock Price Movement',
          align: 'left'
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        yaxis: {
          labels: {
            formatter: function (val) {
              return (val / 1000000).toFixed(0);
            },
          },
          title: {
            text: 'Price'
          },
        },
        xaxis: {
          type: 'datetime',
        },
        tooltip: {
          shared: false,
          y: {
            formatter: function (val) {
              return (val / 1000000).toFixed(0)
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#customer-loyalty"), options);
        chart.render();
</script>

{% endblock javascripts %}
